<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- DEPTH CAMERA MATERIAL -->

  <gazebo reference="tcam_link">
      <material>Gazebo/Yellow</material>
  </gazebo>

  <!-- DEPTH CAMERA OPTICAL LINK--> 

  <joint name="laser_opt" type="fixed">
    <parent link="tcam_link"/>
    <child link="laser_link_opt"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="laser_link_opt"></link>

  <!-- DEPTH CAMERA DEFINITION -->  
  
  <gazebo reference="laser_link_opt">
    <sensor name="laser" type="ray">
      <pose> 0 0 0 0 0 0 </pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <ray>
          <scan>
              <horizontal>
                  <samples>360</samples>
                  <min_angle>-3.14</min_angle>
                  <max_angle>3.14</max_angle>
              </horizontal>
          </scan>
          <range>
              <min>0.3</min>
              <max>12</max>
          </range>
      </ray>
      <plugin name="laser_controller" filename="libgazebo_ros_laser.so">
          <topicName>scan</topicName>
          <!-- <output_type>sensor_msgs/LaserScan</output_type> -->
          <frame_name>laser_link_opt</frame_name>
      </plugin>
    </sensor>
  </gazebo>

</robot>